.pros{
    width: 100%;
    padding: 30px 0px 10px;

    &__title{
        font-size: 25px;
    }

    &__items{
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        

        &__card{
            width: 220px;
            height: 350px;

            img{
                width: 220px;
                height: 200px;
                background-color: whitesmoke;
                border-radius: 30px;
            }
            &__title{
                font-size: 17px;
                line-height: 30px;
            }
            &__buy{
                font-size: 16px;
                line-height: 30px;
            }
            &__oldprice{
                font-size: 16px;
                line-height: 20px;
                color: rgb(255, 57, 57);
            }
            &__price{
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
            }
        }
    }
}
